$bgcolor : rgb(162, 174, 238);
$bgalert : rgb(129, 148, 250);
body{
    box-sizing: border-box;
    background-color: $bgcolor ;
}
.main_serversAvaleble{
    margin: 0 auto;
    width: 35%;
    display: flex;
    flex-direction: column;
}
.main_serversAvaleble_server{
    margin-top: 15px;
    height: 100%;
    font-weight: 500;
    font-size: 1.2em;
    background-color: $bgalert;
}
.available{
    display: inline;
    font-weight: 600;
    color: green;
}
.notavailable{
    display: inline;
    font-weight:800;
    color: rgb(247, 18, 18);
    -webkit-animation: blink2 2s linear infinite;
    animation: blink2 1s linear infinite;
}

  @-webkit-keyframes blink2 {
    100% { color: rgba(16, 224, 34,0); }
    50% { color: rgba(247, 18, 18, 100); }
  }
  @keyframes blink2 {
    100% { color: rgba(6, 240, 17,0); }
    50% { color: rgba(247, 18, 18, 100); }
  }